.animatio{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0%;
    left:0%;
    background-color: white;
    z-index:100;

}
.circle1, .circle2{
   
    position:absolute;
    animation-name: kolo;
    animation-duration: 1s;
    animation-direction:normal;
    animation-iteration-count: infinite;
    border-width: 10px;
    border-radius: 50%;
    /* animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045) */
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86)
    /* animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1) */

}
.nazwa-anim{
    animation-name: kolo;
}
@keyframes kolo{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);  }
}
.circle1{
    width: 10%;
    height: 20%;
    top: 40%;
    left:45%;
    border-top: 8px double rgba(255, 0, 0, 0.493);
    
}
.circle2{
    width: 10%;
    height: 20%;
    top: 40%;
    left:45%;
    border-bottom: 8px double rgba(0, 0, 255, 0.486);
    

}