                                                                                                                         /* Spis treści CSS:
1) Czesto uzywane klasy zaczynajace sie od prefixu uc- (Usable Class)
2) Nawigacja, gorny panel (prefix nav)
3) Czesc 1 Portfolio: (prefix p1) - pojawiajace sie napisy na scrollu; kod wyszukania w CSS: p1-css-find
4) Czesc 2 Portfolio: (prefix p2) - animacja chatu; kod wyszukania w CSS: p2-css-find
5) Czesc 3 Portfolio: (prefix p3) - wykonane witryny; kod wyszukania w CSS: p3-css-find
6) Czesć 4 Portfolio: (prefix p4) - wykonane aplikacje; kod wyszukania w CSS: p4-css-find
7) Część 5 Portfolio: (prefix p5) - Kontakt; kod wyszukania w CSS: p5-css-find
8) Media queries do odpowiednich wielkości ekranów (width):
    8.1) ekrany o szerokości 720px - 990px
    8.2) ekrany o szerokości 991px - 1300px
    8.3) ekrany o szerokości 1301 - 1600px
    8.4) ekrany o szerokości 1601 - 1950px
    8.5) ekrany o szerokości powyżej 1951px
    8.6) ekrany mobilne 
*/
.js-loading{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    background-color: black;
    z-index: 100;
}                                                                                            
html,body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Comfortaa', cursive;
}
/* USABLE CLASS */

.display-flex {
    display: flex !important;
}
.fullscreen{
    width: 90vw!important;
    z-index:60 !important;
    height:70vh!important;
    transition: 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);
    margin: 0 auto!important;
    position: relative!important;
    top: -10vh!important;
}
.pojaw-wolno{
    animation-name: pojaw;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22)
}
.pojaw {
    animation-name: pojaw;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes pojaw {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.zniknij {
    animation-name: zniknij;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes zniknij {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

.display-none {
    display: none;
}

.p1,
.p2,
.p3,
.p4,
.p5,
.p6,
.p7,
.p8,
.p9 {
    width: 100%;
    height: 100vh;
}
.preload-div{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.calosc{
    z-index:1;
}
.rest {
    opacity: 0;
    transition: all 1s ease-in;
}

.nav {
    position: fixed;
    width: 90%;
    left: 5%;
    height: 20%;
    top: -23%;
    border: 1px solid black;
    z-index: 1;
    display: none;
    z-index: 65;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: rgba(0, 0, 0, 0.411);
    box-sizing: border-box;
}

.nav:after {
    content: "";
    width: 10%;
    height: 50%;
    position: absolute;
    background-color: rgb(236, 16, 16);
    bottom: -50%;
    left: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 67%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 67%, 0 100%);
}

.nav:before {
    content: "";
    width: 10%;
    height: 53%;
    position: absolute;
    background-color: rgba(49, 49, 49, 0.651);
    bottom: -53%;
    left: 2%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 67%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 67%, 0 100%);
}

.nav:hover {
    top: 0%;
    cursor: pointer;
}

.nav>div {
    width: 20%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.5s ease-in all;
    z-index: 10;
}
/* ustawienia teł poszczegolnych obrazkow w nawigacji */

.nav-page1 {
    background: url("../images/page1.png");
}

.nav-page2 {
    background: url("../images/page2.png");
}

.nav-page3 {
    background: url("../images/page3.png");
}

.nav-page4 {
    background: url("../images/page4.png");
}

.nav-big {
    transform: scale(2) translateY(20%);
}
/* Klasy dla hoverow navigacji */

.nav-small {
    transform: scale(0.8);
    margin-left: -10%;
}
.page-nazwa {
    color: rgba(17, 17, 17, 0.788);
    width: 90%;
    position: relative;
    left: 5%;
    height: 10%;
    top: 5%;
    background-color: rgba(255, 255, 255, 0.466);
    text-align: center;
    font-size: 0.8em;
    font-weight: 700;
}
/* Ustawienia ogólne dla wszystkich partów*/
/* wewnętrzny kontener */

.p-container {
    position: relative;
    width: 95%;
    height: 95%;
    top: 2.5%;
    left: 2.5%;
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: 10px;
    border: 1px solid rgba(109, 109, 109, 0.329);
    box-shadow: 3px 5px 10px rgba(133, 133, 133, 0.301);
}
/* Background dla calosci */

.p-layer {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
/* Naglowki w formie wstegi */

.headerz {
    width: 76%;
    height: 10%;
    position: relative;
    text-align: center;
    font-size: 1.4em;
    border: 1px solid rgba(3, 3, 3, 0.212);
    color: rgba(104, 104, 104, 0.795);
    box-sizing: border-box;
    line-height: 2.1em;
    z-index: 2;
}

.headerz:after {
    border-left: 3px black solid;
    content: '';
    width: 20%;
    height: 100%;
    position: absolute;
    bottom: -20%;
    right: -15%;
    background-color: rgba(0, 0, 0, 0.219);
    -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 26% 49%, 25% 0%);
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 26% 49%, 25% 0%);
    z-index: 1;
}

.headerz:before {
    content: '';
    width: 20%;
    height: 100%;
    position: absolute;
    bottom: -20%;
    left: -15%;
    background-color: rgba(0, 0, 0, 0.219);
    -webkit-clip-path: polygon(75% 0%, 76% 49%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 76% 49%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    z-index: 1;
}
/* ustawienia dla part 1  p1-css-find */

.p1 {
    transition: all 1s ease-in;
    position: fixed;
    top: 0;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}
/* Ustawienia napisow w hello screen */
/* USTAWIENIA NAPISOW NA WEJSCIE */

.container {
    width: 100vw;
    height: 250vh;
    box-sizing: border-box;
    background-color: transparent;
    z-index: 0;
    max-width: 100vw !important;
}

.container2 {
    width: 100vw;
    height: 250vh;
    box-sizing: border-box;
    background-color: transparent;
    z-index: 0;
    max-width: 100vw !important;
}

.napis {
  transition: all 1.2s cubic-bezier(0.215, 0.610, 0.355, 1)
}
#napis1 {
    
    background: url("../images/rsz_1blur7.jpg") no-repeat;
    margin-top: 100px;
    width: 100vw;
    font-size: 6.5em;
    font-weight: 800;
    position: fixed;
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

#napis2 {
    margin-top: 250px;
    background: url("../images/blur31.jpg");
    top: -200px;
    display: none;
    font-size: 5em;
    font-weight: 700;
    width: 100vw;
    background-size: cover;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    position: absolute;
}

/* ustawienia dla part 2 p2-css-find*/

.p2 {
    background-color: transparent;
    position: fixed;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}
/* Ustawienia głównego containera części 2 */

.p2-container {
    width: 100%;
    height: 100%;
    position: relative;
    background: url("../images/blur35.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* Ustawienia wewnętrznego containera części 2 */

.p2-container {
    position: relative;
    width: 95%;
    height: 95%;
    top: 2.5%;
    left: 2.5%;
    background-color: rgba(255, 255, 255, 0.555);
    border-radius: 10px;
    border: 1px solid rgba(109, 109, 109, 0.329);
    box-shadow: 3px 5px 10px rgba(133, 133, 133, 0.301);
}

.p2-layer {
    background: url("../images/blur35.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* Moje zdjecie */

.p2-image {
    position: relative;
    width: 40%;
    height: 95%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.849);
    border-right: 15px solid transparent;
    background: url("../images/fejs.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}
/* Button przejścia dalej*/

.p2-container-image_section {
    top: 5vh;
    width: 90%;
    height: 20vh;
    position: relative;
    left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s ease-in all;
}
/* Ustawienia ikon font awesome */

.fa-2x {
    font-size: 1.5em;
    vertical-align: -.325em
}
/* Ustawienia "dymkow" chatu w part 2 */

.p2-appendedChild {
    top: -5vh;
    padding: 5px;
    margin-top: 10px;
    width: 70%;
    height: 12%;
    position: relative;
    left: 8%;
    box-shadow: 5px 10px 20px rgba(122, 122, 122, 0.438);
    border-radius: 5%;
    box-sizing: border-box;
    font-size: 0.9em;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.959);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
}
/* Ustawienie ostatniego dymku chatu (bo najwięcej tekstu, więc większa wysokość od reszty */

body>div>div.rest>div.p2>div>div>div:nth-child(6) {
    font-size: 0.8em;
    height: 13%;
}
/* ustawienie trójkąta jako małego pierdolnika przy dymku, że niby wskazuje na osobę wypowiadającą */

.p2-appendedChild:after {
    content: "";
    position: absolute;
    bottom: 3px;
    left: -25px;
    width: 0;
    text-align: left;
    text-justify: distribute-all-lines;
    height: 0;
    border-style: solid;
    border-width: 15px 25px 15px 0;
    border-color: transparent rgba(255, 255, 255, 0.959) transparent transparent;
}
/* Ustawienie prostokąta z niby pisanym tekstem i trzema animowanymi kulkami*/

.p2-container-text {
    height: 55%;
    width: 45%;
    border: 1px solid rgba(63, 63, 63, 0.514);
    border-left-color: transparent;
    box-shadow: 5px 10px 30px rgba(199, 199, 199, 0.233);
}
/* Ustawienia strzałki obok text boxu */

.p2-container-text:after {
    content: '';
    display: block;
    position: absolute;
    top: 40%;
    left: 37%;
    width: 20px;
    height: 20px;
    border-left: 2px solid rgba(63, 63, 63, 0.849);
    border-bottom: 2px solid rgba(63, 63, 63, 0.849);
    transform: rotate(45deg);
}
/* Ustawienia dolnego boxu przejdź dalej "pchaj dalej" */

.pchaj {
    border: 0px;
    width: 50vw;
    height: 50px;
    position: relative;
    left: 20vw;
    font-size: 1.3em;
    font-weight: 800;
    opacity: 0.7;
    background-color: rgba(176, 196, 202, 0.623);
    box-shadow: 5px 10px 20px rgba(126, 126, 126, 0.363);
    cursor: pointer;
}
/* Ustawienia boxa przetrzymującego animowane kulki */

.p2-container-text-balls {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Ustawienia animowanych kulek */

.p2-text-ball {
    width: 3%;
    height: 5%;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.849);
    margin: 2px;
    position: relative;
    background-color: rgba(63, 63, 63, 0.849);
}

.bounce {
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.48, -0.53, .84, .73);
    animation-direction: alternate-reverse;
    animation-duration: .6s;
}

@keyframes bounce {
    from {
        transform: translateY(0px)
    }
    to {
        transform: translateY(-40%)
    }
}
/* ustawienia dla part 3 p3-css-find*/

.p3 {
    position: fixed;
    top: 100%;
    z-index: 3;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 1px 1px 2px 2px rgba(99, 96, 96, 0.349);
    box-sizing: border-box;
}
/* UStawienia dla layera części 3 */

.p3-layer {
    background: url("../images/blur30.jpg");
}
/* Ustawienia dla kontenera wewnętrznego dla part 3, flexowato, by odpowiednio ustawił boxy ze stronami */

.p3-inner {
    width: 95%;
    height: 95%;
    left: 2.5%;
    top: 2.5%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/* Ustawienia ogólne obrazków przedstawiających stronę */

.p3-inner-web {
    width: 80%;
    height: 25%;
    border: 1px solid black;
    position: relative;
    z-index: 0;
}
/* Przykryte pod obrazkiem info o stronie */

.p3-inner-webinfo {
    position: fixed;
    width: 80%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/*Box do przetrzymywania info o technikaliach strony */

.p3-inner-webinfo-technologies {
    width: 80%;
    height: 45%;
    border-radius: 5%;
    box-shadow: 3px 6px 15px rgba(92, 92, 92, 0.5);
    background-color: rgba(224, 224, 224, 0.644);
    box-sizing: border-box;
}

.p3-inner-webinfo-technologies>span {
    width: 100%;
    display: block;
    text-align: center;
    line-height: normal;
}

.p3-inner-webinfo-technologies>span:nth-child(1) {
    font-weight: 600;
}

.p3-inner-webinfo-link {
    width: 80%;
    height: 25%;
    border-radius: 5%;
    box-shadow: 3px 6px 15px rgba(92, 92, 92, 0.5);
    background-color: rgba(224, 224, 224, 0.644);
    box-sizing: border-box;
    text-align: center;
}

.p3-inner-webinfo-link>span:nth-child(1) {
    font-weight: 600;
    font-size: 1.02em;
}

.p3-inner-webinfo-link>a {
    text-decoration: underline;
    color: black;
    cursor: pointer;
    font-size: 1.1em;
}
/* Ustawienia na sztywno informacji zakrytych */

.web1-info {
    top: 18%;
}

.web2-info {
    top: 44%;
}

.web3-info {
    top: 70%;
}

.web1,
.web2,
.web3 {
    box-shadow: 5px 10px 20px rgba(119, 119, 119, 0.555);
    border: 1px solid rgba(218, 218, 218, 0.473);
}

.p3-image-big {
    object-fit: cover;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 90vw;
    height: 80vh;
    top: 10vh;
    left: 5vw;
    border: 1px solid black;
    z-index: 20;
}
/* Ustawienia zdjecia pod JS  */

.image-big-link {
    left: 10%;
    top: 15vh;
    width: 80%;
    height: 30%;
    position: relative;
    border: 1px solid black;
    font-size: 2em;
    background: rgba(92, 92, 92, 0.432);
    text-align: center;
    align-items: center;
}
/* Klasa animacji do odsuwania zdjecia strony */

.odsun {
    animation-name: odsun;
    animation-fill-mode: forwards;
    animation-duration: 0.6s;
    animation-timing-function: ease-in;
}

@keyframes odsun {
    from {
        left: 0
    }
    to {
        left: -40%;
    }
}
/* ustawienia dla part 4 p4-css-find*/

.p4-layer {
    background: url("../images/white-blur3.jpg");  
}
.p4 {
    position: fixed;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    top: 0%;
    box-sizing: border-box;
}
/* Kontener wewnetrzny 4 partu trzymajacy we flexie wszystko */
.p4-inner {
    width: 98%;
    height: 98%;
    position: relative;
    top: 1%;
    left: 1%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
}
/* Unikalne ustawienia dla headera party 4 */
.p4-header {
    bottom: 7%;
    width: 80%;
    left: 10%;
    color: rgba(218, 218, 218, 0.836)!important;
}
/* Ustawienia kostek aplikacji */

.webapp {
    /* animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-name: move-app; */
    opacity: 0.9;
    width: 98%;
    left: 5%;
    margin: 5px;
    height: calc(80%/5);
    transition: 0.5s ease-in all;
    z-index: 15;
    border-radius: 2%;
    box-shadow: 5px 15px 20px rgba(56, 56, 56, 0.664);
    box-sizing: border-box;
}

/* Animacje zmiany miejsca backgrounda (gifa) oraz zmiana wielkosci okieka z aplikacja na komorkach */
.powieksz {
    height: 40%;
    background-position: left !important;
    background-size: 40% 60% !important;
}
.zmniejsz {
    height: 12%;
}

/* Poszczegolne kolumny z opisami aplikacji nazwa opis itd */
.opis-app {
    display: none;
    position: relative;
    width: 70%;
    height: 95%;
    top: 0;
    left: 32%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.918);
}

.opis-app>span {
    display: table;
    position: relative;
    margin: 3px;
    background-color: rgba(255, 255, 255, 0.623);
    width: 90%;
    box-shadow: 5px 5px 10px rgba(31, 31, 31, 0.726);
    opacity: 0.9;
}
.app-nazwa {
    height: 10%;
    background-color: rgb(211, 211, 211);
    color: black;
    border-radius: 5%;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 3px;
    font-weight: 700;
    
}
.app-features {
    height: 15%;
    font-size: 0.9em;
    line-height: 1.2em;
    background-color: rgb(211, 211, 211);
    color: black;
    font-weight: 300;
}
/* ustawienia table cell pozwalaja na wysrodkowanie tekstu wielolinijkowego w pionie rodzic table, dziecko table-cell v-align: middle */
.app-features>span {
    display: table-cell;
    vertical-align: middle;
    line-height: normal;
}
.app-dopisek {
    height: 40%;
    font-weight: 500;
    background-color: rgb(211, 211, 211);
    color: black;
}

/* Ustawienia linkow do githuba i wersji live */
.linki {
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    line-height: 1em;
    background-color: rgb(211, 211, 211);
    
}
.linki>a {
    margin: 3px;
    border: 1px solid rgba(0, 0, 0, 0.39);
    font-size: 1.5em;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.719);
    padding: 3px;
    background-color: rgba(100, 100, 100, 0.377);
    transition: 0.4s ease all;
    box-shadow: 5px 5px 10px rgba(63, 63, 63, 0.507);
}
a:hover {
    background-color: rgba(170, 170, 170, 0.76);
    color: black;
    box-shadow: 2px 2px 3px rgba(39, 39, 39, 0.705);
}

/* Ustawienia backgroundow dla kostek z apkami i w wersji hover (gif) i  w wersji stalej (jpg) */
.p4-inner-app1 {
    background: url("../images/pogodaimg.jpg");
    line-height: .70rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.app1-gif{
    background: url("../images/pogodagif.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.p4-inner-app2 {
    background: url("../images/calendarimg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 5%;
}
.app2-gif {
    background: url("../images/kalendarzgif.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.p4-inner-app3 {
    background: url("../images/editorimg.png");
    line-height: 0.8em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0;
}
.app3-gif {
    background: url("../images/edytorgif.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.p4-inner-app4 {
    background: url("../images/muzykaimg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.app4-gif {
    background: url("../images/muzykagif.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
/* Szczególne ustawienia dla 3 apki */
body>div>div.rest>div.p4>div>div>div>div.p4-inner-app3.webapp.app3-gif.powieksz>div>span.app-features {
    line-height: 2.3em;
}
/* Szczególne ustawienia dla 2 apki */
body>div>div.rest>div.p4>div>div>div>div.p4-inner-app2.webapp.powieksz>div>span.app-features>span {
    line-height: 2.3em;
}

.pogoda-opis, .kalendarz-opis, .edytor-opis,.music-opis {
    display: table-cell;
    vertical-align: middle;
    line-height: normal;
    font-size:0.7em;
}


/* ustawienia dla part 5 p5-css-find*/

.p5-layer {
    background: url("../images/silver-blur.jpg");
    width: 100%;
    height: 100vh;
}
.p5 {
    position: fixed;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    box-sizing: border-box;
}
.p5-inner {
    position: relative;
    width: 95%;
    height: 100%;
    left: 2.5%;
    background: url("../images/doit-small.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 105%;
}

.p5-header {
    left: 7.5%;
    width: 85%;
    height: 10%;
    top: 5%;
    position: relative;
}

/* Ustawienia formularza  kontaktowego*/
.form-container {
    width: 90%;
    height: 60%;
    box-shadow: 5px 10px 15px rgba(58, 58, 58, 0.274);
    border: 1px solid rgba(90, 90, 90, 0.158);
    border-radius: 3%;
    top: 8%;
    position: relative;
    left: 5%;
    box-sizing: border-box;
    
    background-color: rgba(255, 255, 255, 0.137);
    font-size: 1em;
}

label {
    text-align: center;
    display: inline-block;
    width: 100%;
    color: rgba(58, 58, 58, 0.815);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.438);
}

.input-email {
    position: relative;
    left: 15%;
    width: 70%;
    box-shadow: 3px 5px 19px rgba(87, 87, 87, 0.411);
    border: 1px solid rgba(255, 255, 255, 0.308);
    background-color: rgba(255, 255, 255, 0.61);
    border-radius: 4%;
    box-sizing: border-box;
}

.input-textarea {
    position: relative;
    width: 70%;
    left: 15%;
    box-shadow: 3px 5px 19px rgba(87, 87, 87, 0.411);
    border: 1px solid rgba(255, 255, 255, 0.308);
    background-color: rgba(255, 255, 255, 0.61);
    box-sizing: border-box;
}

.lapka {
    width: 100%;
}

.kciuk {
    width: 45%;
    position: relative;
    left: 27.5%;
    box-shadow: 3px 5px 19px rgba(87, 87, 87, 0.411);
    border: 1px solid rgba(255, 255, 255, 0.308);
    background-color: rgba(255, 255, 255, 0.61);
}

.submicik {
    width: 35%;
    height: 10%;
    position: relative;
    left: 32.5%;
    display: block;
    margin-top: 1%;
    background: rgba(85, 85, 85, 0.377);
    border: 3px solid rgba(170, 170, 170, 0.103);
}

.contact-icons {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.144);
    top: 70%;
    left: 85%;
    box-shadow: -2px 4px 10px;
}

.icons {
    width: 90%;
    height: 33%;
    transition: 0.4s cubic-bezier(0.23, 1, 0.320, 1) all;
}
.obroc_gnoja {
    animation-name: obroc_gnoja;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}
@keyframes obroc_gnoja {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}
.phone {
    background: url("../images/phone-icon2.png");
    width: 90%;
    height: 33%;
    background-position: left;
    background-size: 25% 45%;
    background-repeat: no-repeat;
    text-align: right;
}




.github>a {
    text-decoration: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.767);
    LINE-HEIGHT: 1.5em;
    padding: 5px;
}

.github {
    background: url("../images/github-icon2.png");
    width: 90%;
    height: 33%;
    text-align: right;
    background-position: left;
    background-size: 25% 45%;
    background-repeat: no-repeat;
    padding: -10px;
}

.email {
    background: url("../images/email-icon2.png");
    width: 90%;
    height: 33%;
    text-align: right;
    background-position: left;
    background-size: 25% 55%;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0.767);
}

.email>a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.767);
}


/* Formularz */
/* .form-container{
    width: 90%;
    height: 60%;
    left: 35%;
    left: 5%;
    top: 6%;

} */
/* form>label{
    font-size:0.6em;
    margin-top:0;
}
.input-email{
    font-size:0.7em;
}
.lapka{
    font-size:0.6em; 
    margin-top:2%;
}
.kciuk{
    font-size:0.6em;
}
.submicik{
    font-size:0.6em;
}
.contact-icons {
    width: 80%;
    display:flex;
    height: 20%;
    left: 0;
    top: 22%;
    border: 0px;
    box-shadow: 10px 20px 40px rgba(156, 156, 156, 0.432);
    background-color: rgba(255, 255, 255, 0.384);
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.icons {
    width: 20%;
    height: 20%;
    background-size: contain;
}

.phone-text{
    font-size: 0.7em;
    line-height: 2em;
}
.github-link{
    font-size: 0.7em;
    line-height: 2em;
}
.email-mail{
    font-size: 0.60em;
    line-height: 2em;
} */

.p6 {
    display: none;
    background-color: transparent;
    position: fixed;
    top: 0%;
    z-index: 6;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    border-bottom: 10px solid rgb(161, 27, 117);
    box-shadow: 1px 1px 2px 2px rgba(99, 96, 96, 0.349);
    box-sizing: border-box;
}

.p6:after {
    content: '';
    position: absolute;
    bottom: 20%;
    right: -6%;
    width: 6%;
    height: 13%;
    background-color: rgb(161, 27, 117);
    z-index: 10;
}

.p6:before {
    content: '';
    position: absolute;
    right: -6%;
    width: 6%;
    height: 13%;
    bottom: 20%;
    z-index: 10;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
}

.hower2,
.hower3,
.hower4,
.hower5 {
    width: 100%;
    height: 100%;
    z-index: 50 !important;
}

.hower2:hover,
.hower3:hover,
.hower4:hover,
.hower5:hover {
    /* margin-top: -200px; */
    opacity: 0.9;
    background-color: white;
    transition: 0.5s all ease-in;
    transform: translateX(70%) scale(0.30);
    z-index: 5;
}



    
